{% extends "base.html" %}

{% block content %}
<body>
{% if latest_question_list %}
<div class="list-group">
     {% for question in latest_question_list %}
     <a href="/polls/{{ question.id }}/" class="list-group-item" style="padding-left: 80px;"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-info-sign"></span>  {{ question.question_text }}</h4><p class="list-group-item-text">  {{question.question_descripton}}</p></a>
     {% endfor %}
</div>
    {% else %}
	<p>No polls are available.</p>
{% endif %}
</body>
{% endblock %}
